extends layout
block content
  h1 #{title}
  h3= user.date
  h3= user.name
  h3= user.username
  h3= user.email
  h3= user.profileimage
  //const readStream = gfs.createReadStream(#{profileimage})
  //readStream.pipe(res)
  p
    a.btn.btn-default(href='/users/edit/' + user._id) Edit
    p
    a.btn.btn-default(href='/image/' + user.profileimage) Photo
    p  
    a.btn.btn-danger.delete-user(href='#',data-id=user._id) Delete
    
